/* ===== RESET BROWSER DEFAULT ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 83px;
}

nav {
    margin: 0;
    padding: 0;
}

.hero {
    margin-top: 0 !important;
}